/*background*/
body {
  background-image: url(Assets/Images/background.jpeg);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.navbutton {
  background-color: #283747;
}
/* navbar style */

.nav-item {
  margin-left: 15px;
}

.nav-link {
  color: #283747;
  transition-duration: 0.4s;
}

.nav-link:hover {
  background-color: #de354c; /* Green */
  color: white;
  border-radius: 5px;
  transition-duration: 0.4s;
}

.ziwang {
  color: #f3f3f3;
  background-color: #283747;
  padding: 3px;
  border-radius: 4px;
}

/*profile picture*/
.profilepic {
  height: 200px;
  width: auto;
  float: left;
  margin-right: 20px;
}

h1 {
  color: #283747;
}

/*footer*/
.footer {
  color: #283747;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* portfolio showcase style */
.portfolio {
  border: 3px solid #283747;
  border-radius: 10px;
  padding: 3px;
  width: 350px;
  margin: auto;
  margin-bottom: 30px;
  display: block;
  height: 250px;
}

/* about me container */
.aboutme {
  border-radius: 5px;
  padding: 25px;
  opacity: 0.95;
}

/* button styling */
.button {
  border-radius: 4px;
  background-color: #932432;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
  color: #283747;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.pdf {
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding-top: 56.25%;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.contactcard {
  border-radius: 8px;
}

.contactinfo {
  border-radius: 8px;
}

.github {
  margin-left: 12px;
}

/* media 400px */
/* portfolio container add margin top on the second to right colum */
@media only screen and (max-width: 1000px) {
  .secondcol {
    margin-top: 50px;
  }

  .navbar-nav {
    align-items: center;
  }

  .nav-item {
    margin-left: 0px;
    margin-top: 5px;
    align-items: center;
    width: 20%;
  }

  .nav-link {
    text-align: center;
  }
}
